
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$migrator-primary: mat.define-palette(mat.$indigo-palette);
$migrator-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$migrator-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$migrator-theme: mat.define-light-theme((
  color: (
    primary: $migrator-primary,
    accent: $migrator-accent,
    warn: $migrator-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($migrator-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.bars {
  display: flex;
  align-items: center;
  width: 50.4px;
  height: 44.8px;
  --c: linear-gradient(#474bff calc(50% - 11.2px),#0000 0 calc(50% + 11.2px),#474bff  0);
  background: var(--c) 0%   100%,
       var(--c) 50%  100%,
       var(--c) 100% 100%;
  background-size: 10.1px calc(200% + 22.4px);
  background-repeat: no-repeat;
  animation: bars-th2joa 1s infinite linear;
}

@keyframes bars-th2joa {
  33% {
     background-position: 0% 50%,50% 100%,100% 100%;
  }

  50% {
     background-position: 0%  0%,50%  50%,100% 100%;
  }

  66% {
     background-position: 0%  0%,50%   0%,100%  50%;
  }

  100% {
     background-position: 0%  0%,50%   0%,100%   0%;
  }
}